In [1]:
#!pip install datefinder

In [2]:
import pandas as pd
import numpy as np
import datefinder as dfi
import datetime

In [3]:
################################################
#FUNCIONES NO IMPORTADAS: PASAR A .PY E IMPORTAR
################################################

def del_p(x):
    ''' This function which takes a string as argument, returns the same string
    that was entered but without (p) in case there are any of these in the original
    string
    '''
    try:
        return x.replace('(p)', '')
    except:
        pass
    
def del_total(x):
    ''' This function which takes a string as argument, returns the same string
    that was entered but without (p) in case there are any of these in the original
    string
    '''
    try:
        return x.replace('_Total', '')
    except:
        pass
    
def del_acumulado(x):
    ''' This function which takes a string as argument, returns the same string
    that was entered but without (p) in case there are any of these in the original
    string
    '''
    try:
        return x.replace('_Acumulado', '')
    except:
        pass

def del_years(x):
    ''' This function returns a nan if the given argument (must be a string)
    has 4 or less characters. Otherwise  it returns the intact original string.
    The original purpose of this function was to delete cells with year info but 
    no month info.
    '''
    import numpy as np
    if len(x.strip()) < 5:
        return 'tbd'
    else:
        return x
    
def type_el(x):
    '''Returns the type of an element'''
    print(type(x))
    
def del_spaces(x):
    ''' Function to apply the strip method for strings'''
    return x.strip()

def translate_month(x):
    if 'Enero' in x:
        return x.replace('Enero', 'January')
    elif 'Febrero' in x:
        return x.replace('Febrero', 'February')
    elif 'Marzo' in x:
        return x.replace('Marzo', 'March')
    elif 'Abril' in x:
        return x.replace('Abril', 'April')
    elif 'Mayo' in x:
        return x.replace('Mayo', 'May')
    elif 'Junio' in x:
        return x.replace('Junio', 'June')
    elif 'Julio' in x:
        return x.replace('Julio', 'July')
    elif 'Agosto' in x:
        return x.replace('Agosto', 'August')
    elif 'Septiembre' in x:
        return x.replace('Septiembre', 'September')
    elif 'Octubre' in x:
        return x.replace('Octubre', 'October')
    elif 'Noviembre' in x:
        return x.replace('Noviembre', 'November')
    elif 'Diciembre' in x:
        return x.replace('Diciembre', 'December')
    else:
        return x

def translate_number(x):
    if 'M01' in x:
        return x.replace('M01', ' January')
    elif 'M02' in x:
        return x.replace('M02', ' February')
    elif 'M03' in x:
        return x.replace('M03', ' March')
    elif 'M04' in x:
        return x.replace('M04', ' April')
    elif 'M05' in x:
        return x.replace('M05', ' May')
    elif 'M06' in x:
        return x.replace('M06', ' June')
    elif 'M07' in x:
        return x.replace('M07', ' July')
    elif 'M08' in x:
        return x.replace('M08', ' August')
    elif 'M09' in x:
        return x.replace('M09', ' September')
    elif 'M10' in x:
        return x.replace('M10', ' October')
    elif 'M11' in x:
        return x.replace('M11', ' November')
    elif 'M12' in x:
        return x.replace('M12', ' December')
    else:
        return x

    
def datematcher(x):
    '''Function to extract a datetime object from a string
    (Based on the datefinder library)'''
    matches = dfi.find_dates(x)
    for match in matches:
        return(match)
    
    
def dateconverter(x):    
    return datetime.datetime.date(x)

# A. Trade flows (Canary)

In [4]:
IC_trade = pd.read_csv ('canary_imports_dirty.csv')

In [5]:
IC_trade.head()

,Unnamed: 0,Time,Polonia,Chequia,Suiza,Francia,Italia,Bélgica,Dinamarca,Suecia,Irlanda,Países Bajos,Reino Unido,Alemania
0,0,2021 Noviembre (p),"4.473,862","4.698,110","2.220,403","31.485,825","36.338,226","6.008,680","2.178,621","1.574,086","6.561,863","36.734,327","11.720,918","29.201,971"
1,1,2021 Octubre (p),"3.360,605","9.997,751","1.711,822","7.672,856","12.718,099","4.617,084","2.493,726","1.773,129","3.440,667","29.173,793","6.908,026","25.644,328"
2,2,2021 Septiembre (p),"2.619,986","7.827,948","1.331,296","11.305,727","10.842,908","6.359,599","1.133,544","1.540,708","5.547,320","39.631,925","6.700,103","26.015,663"
3,3,2021 Agosto (p),"2.627,623","3.586,898","1.031,052","7.893,321","13.490,680","11.802,737","1.636,533","1.318,356","5.301,273","16.572,673","4.030,151","39.025,092"
4,4,2021 Julio (p),"2.102,901","10.212,904","1.264,930","7.513,558","16.195,542","10.413,309","1.557,271","1.475,441","4.772,880","18.454,604","3.430,143","35.785,879"

In [6]:
################################################
#OJO - función no importada en uso en esta celda
################################################


IC_trade.Time = IC_trade.Time.apply(del_years)
IC_trade.Time = IC_trade.Time.apply(del_p)
IC_trade.Time = IC_trade.Time.apply(del_years)
IC_trade.Time = IC_trade.Time.apply(del_spaces)
IC_trade.Time = IC_trade.Time.apply(translate_month)
IC_trade.drop(IC_trade.index[IC_trade['Time'] == 'tbd'], inplace=True)
IC_trade.Time = IC_trade.Time.apply(datematcher)
IC_trade.Time = IC_trade.Time.apply(dateconverter)
IC_trade = IC_trade.drop('Unnamed: 0', axis=1)

In [7]:
IC_trade.sample(7)

,Time,Polonia,Chequia,Suiza,Francia,Italia,Bélgica,Dinamarca,Suecia,Irlanda,Países Bajos,Reino Unido,Alemania
190,2007-03-06,"1.343,053","1.812,661","2.279,964","20.153,068","55.266,184","9.366,234","7.346,760","6.777,590","5.286,326","33.305,155","18.676,942","53.020,134"
148,2010-06-06,"1.635,216","3.896,134","1.621,174","15.049,794","13.028,949","5.326,665","2.203,908","2.706,260","4.326,368","35.148,312","12.587,528","34.803,585"
274,2000-10-06,"444,372","2.036,308","2.307,929","13.139,625","15.390,062","11.242,070","7.989,427","2.936,198","5.140,739","13.696,352","24.140,865","41.345,651"
214,2005-05-06,"1.423,909","1.179,733","3.093,684","12.551,736","28.532,328","7.866,653","2.525,101","4.534,132","4.864,299","21.849,541","13.669,314","43.757,463"
261,2001-10-06,"967,352","3.539,118","1.452,033","11.932,563","22.419,942","5.037,535","3.032,432","3.329,678","5.331,170","14.652,467","28.151,086","33.781,290"
282,2000-02-06,"226,559","1.081,681","1.417,999","14.355,147","14.780,881","4.929,076","2.452,499","3.563,718","2.430,753","12.040,646","19.267,473","29.782,221"
142,2010-12-06,"1.882,806","1.067,053","2.734,366","9.579,955","13.946,095","18.058,231","15.947,230","17.919,503","6.468,784","37.299,194","17.120,940","26.995,272"

# B. Trade flows (Balearic)

In [8]:
BI_trade = pd.read_csv ('balearic_imports_dirty.csv')

In [9]:
BI_trade.head()

,Unnamed: 0,Time,Polonia,República Checa,Francia,Italia,Bélgica,Dinamarca,Suecia,Irlanda,Países Bajos,Reino Unido,Alemania
0,0,2021_Acumulado,7.865.370,1.731.141,123.007.720,230.446.676,53.882.732,4.191.680,8.585.209,4.747.182,178.607.869,42.775.095,196.025.757
1,1,2021M11,1.026.951,66.902,12.992.763,30.885.089,4.247.049,505.164,723.796,1.018.726,35.186.304,3.161.318,23.733.996
2,2,2021M10,719.417,84.056,7.735.753,6.687.123,5.202.484,454.991,1.167.503,331.710,22.533.426,3.540.810,31.231.364
3,3,2021M09,1.183.774,265.947,7.650.884,8.474.734,7.426.750,641.261,1.410.221,1.066.762,25.881.548,3.876.277,24.229.240
4,4,2021M08,548.923,294.308,7.617.475,25.701.516,7.100.870,348.110,927.643,682.895,14.463.688,3.736.112,13.060.456

In [10]:
################################################
#OJO - función no importada en uso en esta celda
################################################


BI_trade.Time = BI_trade.Time.apply(del_total)
BI_trade.Time = BI_trade.Time.apply(del_years)
BI_trade.drop(BI_trade.index[BI_trade['Time'] == 'tbd'], inplace=True)
BI_trade.Time = BI_trade.Time.apply(del_acumulado)
BI_trade.Time = BI_trade.Time.apply(translate_number)
BI_trade.Time = BI_trade.Time.apply(datematcher)
BI_trade.Time = BI_trade.Time.apply(dateconverter)
BI_trade = BI_trade.drop('Unnamed: 0', axis=1)

In [11]:
BI_trade.sample(7)

,Time,Polonia,República Checa,Francia,Italia,Bélgica,Dinamarca,Suecia,Irlanda,Países Bajos,Reino Unido,Alemania
135,2011-07-06,403.880,235.354,3.356.955,7.690.448,2.017.923,231.065,972.105,465.675,2.565.882,2.425.410,6.091.979
183,2007-11-06,691.192,121.273,11.863.060,26.805.716,924.798,425.515,2.184.306,235.476,1.730.261,1.880.870,13.006.440
73,2016-04-06,812.588,590.628,21.059.558,19.106.570,5.059.611,555.971,826.785,446.092,9.084.568,5.488.825,19.301.140
282,2000-03-06,149.543,40.466,7.985.219,6.141.112,717.818,681.696,1.099.118,256.949,1.579.630,7.377.126,8.738.354
269,2001-03-06,942.910,141.526,5.915.227,5.787.793,1.028.407,250.597,1.791.590,88.311,2.580.235,17.648.230,7.949.880
225,2004-08-06,409.397,144.421,5.348.635,3.714.812,1.173.500,381.550,1.432.729,387.154,2.037.235,7.601.732,6.640.548
281,2000-04-06,120.453,68.862,4.564.579,4.826.761,1.125.213,513.883,1.147.497,96.681,8.264.743,6.768.984,5.918.835

# C. Tourists in the Canaries

In [22]:
#countries_exc_ger = ['UK', 'Holanda', 'Irlanda', 'Suecia', 'Dinamarca', 'Bélgica', 'Italia', 'Francia', 'Suiza', 'Chequia', 'Polonia']
#countries_eg_M = ['UK', 'HOLANDA', 'IRLANDA', 'SUECIA','DINAMARCA','BELGICA','ITALIA','FRANCIA','SUIZA','REP.CHECA','POLONIA']

In [29]:
#Countries for which there is detailed data for number of visitors and imports
countries = ['UK', 'HOLANDA', 'IRLANDA', 'SUECIA', 'DINAMARCA', 'BELGICA', 'ITALIA', 'FRANCIA', 'SUIZA', 'REP.CHECA', 'POLONIA']

In [33]:
pd.read_excel('data/TuristasCI_Short.xls', sheet_name= 'IRLANDA')

,Unnamed: 0,ENERO,FEBRERO,MARZO,ABRIL,MAYO,JUNIO,JULIO,AGOSTO,SEPTIEMBRE,OCTUBRE,NOVIEMBRE,DICIEMBRE,TOTAL
0,1990,2674,2608,2778,3449,2510,3122,3635,4159,3599,3311,1522,2762,36129
1,1991,2358,2536,3417,2893,3282,5250,5980,5598,5052,3877,2808,3133,46184
2,1992,3403,3554,3551,3154,6818,6495,7793,9413,6817,6846,2688,3789,64321
3,1993,5905,4316,3882,4676,7448,8112,9654,9939,8271,7979,3306,3376,76864
4,1994,6146,4427,4635,5467,8752,9898,12747,10230,10056,9245,4735,5674,92012
5,1995,5955,6001,6204,7871,9259,10840,13343,11040,10937,8982,5609,7742,103783
6,1996,7197,7595,8594,7001,11604,15326,13287,13062,12672,9523,6754,6064,118679
7,1997,7306,7362,8907,7175,14748,15191,13611,15663,13112,11858,7765,7419,130117
8,1998,9545,8353,8051,8492,18913,17474,17553,20776,16852,17170,12074,10849,166102
9,1999,15659,12646,12352,12787,24105,21719,25866,26701,22695,23216,12598,14042,224386
10,2000,17776,16575,17227,19377,28452,33554,40640,33679,34145,30216,14838,19280,305759
11,2001,17842,19196,23270,23605,32125,38560,41336,37761,40421,32038,17843,22437,346434
12,2002,22776,24346,31367,23729,32533,41166,38650,40629,38285,32424,21888,23990,371783
13,2003,26828,26050,28763,25986,36598,42829,42169,43347,36146,33988,24227,23138,390069
14,2004,30088,29504,26950,28944,40602,38679,46083,44384,40436,36900,19431,24613,406614
15,2005,30391,27725,29364,27899,36015,43089,51257,40935,39565,40180,21468,25735,413623
16,2006,28783,28034,28826,32860,33570,41453,51570,41643,40336,34894,22193,31580,415742
17,2007,30448,33290,39820,33409,38107,47158,51805,45994,50193,39311,28946,34917,473398
18,2008,35255,35649,44451,30842,46346,50101,50883,51419,43980,39924,32406,31444,492700
19,2009,35021,29479,31713,28176,34574,32656,35028,36725,30276,31505,24096,22662,371911
20,2010,26935,25011,27024,19154,30178,35505,41094,35650,29387,31698,22516,21553,345705
21,2011,28438,27782,29979,33097,34609,40461,46575,38034,37627,38399,25466,24734,405201
22,2012,27212,26695,28935,28964,30659,36913,38955,33588,35800,37352,27518,25669,378260
23,2013,27568,26665,33605,31814,34416,44817,45889,41734,37896,38769,24309,24909,412391
24,2014,26992,26161,29008,35258,37561,46458,49831,42450,38997,38119,25647,25326,421808
25,2015,30543,29801,34216,35568,38120,52682,51743,40210,41745,40981,29984,31685,457278
26,2016,33579,33537,41021,39146,39716,51395,53619,42299,45223,45713,34684,37079,497011
27,2017,36406,33199,39965,44485,43057,57086,58465,48432,48712,49972,34258,38016,532053
28,2018,39074,35138,42737,45314,51424,58114,57615,50111,50606,50959,36181,38778,556051
29,2019,39663,37935,45394,51962,52261,56244,58409,56433,51871,54707,37858,42719,585456
30,2020,36795,38460,15440,0,0,109,8404,6748,4178,5506,4482,6402,126524

# C. Foreign citizens in the Canaries and the Balearic islands