In [1]:
#!pip install datefinder

In [2]:
import pandas as pd
import numpy as np
import datefinder as dfi
import datetime
from pandas import ExcelWriter

In [3]:
################################################
#FUNCIONES NO IMPORTADAS: PASAR A .PY E IMPORTAR
################################################

def del_p(x):
    ''' This function which takes a string as argument, returns the same string
    that was entered but without (p) in case there are any of these in the original
    string
    '''
    try:
        return x.replace('(p)', '')
    except:
        pass
    
def del_total(x):
    ''' This function which takes a string as argument, returns the same string
    that was entered but without (p) in case there are any of these in the original
    string
    '''
    try:
        return x.replace('_Total', '')
    except:
        pass
    
def del_acumulado(x):
    ''' This function which takes a string as argument, returns the same string
    that was entered but without (p) in case there are any of these in the original
    string
    '''
    try:
        return x.replace('_Acumulado', '')
    except:
        pass

def del_years(x):
    ''' This function returns a nan if the given argument (must be a string)
    has 4 or less characters. Otherwise  it returns the intact original string.
    The original purpose of this function was to delete cells with year info but 
    no month info.
    '''
    import numpy as np
    if len(x.strip()) < 5:
        return 'tbd'
    else:
        return x
    
def type_el(x):
    '''Returns the type of an element'''
    print(type(x))
    
def del_spaces(x):
    ''' Function to apply the strip method for strings'''
    return x.strip()

def translate_month(x):
    if 'Enero' in x:
        return x.replace('Enero', 'January')
    elif 'Febrero' in x:
        return x.replace('Febrero', 'February')
    elif 'Marzo' in x:
        return x.replace('Marzo', 'March')
    elif 'Abril' in x:
        return x.replace('Abril', 'April')
    elif 'Mayo' in x:
        return x.replace('Mayo', 'May')
    elif 'Junio' in x:
        return x.replace('Junio', 'June')
    elif 'Julio' in x:
        return x.replace('Julio', 'July')
    elif 'Agosto' in x:
        return x.replace('Agosto', 'August')
    elif 'Septiembre' in x:
        return x.replace('Septiembre', 'September')
    elif 'Octubre' in x:
        return x.replace('Octubre', 'October')
    elif 'Noviembre' in x:
        return x.replace('Noviembre', 'November')
    elif 'Diciembre' in x:
        return x.replace('Diciembre', 'December')
    else:
        return x

def translate_number(x):
    if 'M01' in x:
        return x.replace('M01', ' January')
    elif 'M02' in x:
        return x.replace('M02', ' February')
    elif 'M03' in x:
        return x.replace('M03', ' March')
    elif 'M04' in x:
        return x.replace('M04', ' April')
    elif 'M05' in x:
        return x.replace('M05', ' May')
    elif 'M06' in x:
        return x.replace('M06', ' June')
    elif 'M07' in x:
        return x.replace('M07', ' July')
    elif 'M08' in x:
        return x.replace('M08', ' August')
    elif 'M09' in x:
        return x.replace('M09', ' September')
    elif 'M10' in x:
        return x.replace('M10', ' October')
    elif 'M11' in x:
        return x.replace('M11', ' November')
    elif 'M12' in x:
        return x.replace('M12', ' December')
    else:
        return x

    
def datematcher(x):
    '''Function to extract a datetime object from a string
    (Based on the datefinder library)'''
    matches = dfi.find_dates(x)
    for match in matches:
        return(match)
    
    
def dateconverter(x):  
    ''' Converts a datetime.datetime object into a  datetime.date object and returns it'''
    return datetime.datetime.date(x)

def index_b_count(w, x, v, h):
    '''
    Return a dictionary containing the ratio between the count of two given categorical variables for the rows of a df
    whose index has a given value as value, and the index of refference of the dataframe as key
    Where w is a dataframe, x is a list of indices, v is the column that will serve as basis for the count
    and h is the column from which the values making up x have been taken
    '''
    emptydict = {}
    
    
    for i in x:
        w_temp = w[w[h] == i]
        if len(w_temp[v].value_counts().value_counts()) > 1:
            a = len(w_temp[v])
            b = w_temp[v].value_counts()[1]
            c = b/a
            emptydict[i] = c
        else:
            emptydict[i] = 0
            
    
    return emptydict

# A. Trade flows (Canary)

In [4]:
IC_trade = pd.read_csv ('data/canary_imports_dirty.csv')

In [5]:
IC_trade.head()

,Unnamed: 0,Time,Polonia,Chequia,Suiza,Francia,Italia,Bélgica,Dinamarca,Suecia,Irlanda,Países Bajos,Reino Unido,Alemania
0,0,2021 Noviembre (p),"4.473,862","4.698,110","2.220,403","31.485,825","36.338,226","6.008,680","2.178,621","1.574,086","6.561,863","36.734,327","11.720,918","29.201,971"
1,1,2021 Octubre (p),"3.360,605","9.997,751","1.711,822","7.672,856","12.718,099","4.617,084","2.493,726","1.773,129","3.440,667","29.173,793","6.908,026","25.644,328"
2,2,2021 Septiembre (p),"2.619,986","7.827,948","1.331,296","11.305,727","10.842,908","6.359,599","1.133,544","1.540,708","5.547,320","39.631,925","6.700,103","26.015,663"
3,3,2021 Agosto (p),"2.627,623","3.586,898","1.031,052","7.893,321","13.490,680","11.802,737","1.636,533","1.318,356","5.301,273","16.572,673","4.030,151","39.025,092"
4,4,2021 Julio (p),"2.102,901","10.212,904","1.264,930","7.513,558","16.195,542","10.413,309","1.557,271","1.475,441","4.772,880","18.454,604","3.430,143","35.785,879"

In [6]:
################################################
#OJO - función no importada en uso en esta celda
################################################


IC_trade.Time = IC_trade.Time.apply(del_years)
IC_trade.Time = IC_trade.Time.apply(del_p)
IC_trade.Time = IC_trade.Time.apply(del_years)
IC_trade.Time = IC_trade.Time.apply(del_spaces)
IC_trade.Time = IC_trade.Time.apply(translate_month)
IC_trade.drop(IC_trade.index[IC_trade['Time'] == 'tbd'], inplace=True)
IC_trade.Time = IC_trade.Time.apply(datematcher)
IC_trade.Time = IC_trade.Time.apply(dateconverter)
IC_trade = IC_trade[IC_trade.Time < datetime.date(2020, 1, 7)]
IC_trade = IC_trade.drop('Unnamed: 0', axis=1)

In [7]:
IC_trade.sample(7)

,Time,Polonia,Chequia,Suiza,Francia,Italia,Bélgica,Dinamarca,Suecia,Irlanda,Países Bajos,Reino Unido,Alemania
196,2006-10-07,"1.596,955","2.434,735","2.314,461","10.942,942","27.229,029","18.481,267","4.424,182","2.548,059","4.621,634","31.456,000","32.689,355","44.385,805"
116,2012-12-07,"2.072,064","1.424,049","3.493,032","11.938,774","51.234,107","20.779,122","4.342,993","2.376,341","3.551,652","20.008,619","21.489,839","22.916,256"
214,2005-05-07,"1.423,909","1.179,733","3.093,684","12.551,736","28.532,328","7.866,653","2.525,101","4.534,132","4.864,299","21.849,541","13.669,314","43.757,463"
177,2008-03-07,"1.413,412","1.727,055","2.136,774","16.803,145","20.365,674","6.681,030","3.788,722","2.817,955","6.119,374","17.913,543","14.673,332","54.724,426"
137,2011-04-07,"1.150,350","2.021,627","2.122,776","26.098,930","19.019,435","6.211,186","2.777,737","3.693,348","5.249,732","33.046,198","40.981,867","29.564,672"
238,2003-07-07,"428,505","3.126,404","1.275,466","20.940,628","19.719,512","7.145,965","6.591,566","2.887,609","7.206,706","12.800,134","18.603,983","36.161,556"
71,2016-05-07,"2.883,118","3.172,157","2.822,205","11.342,808","16.800,267","14.254,940","1.351,734","9.206,415","5.238,389","11.182,620","7.202,136","29.305,355"

In [8]:
#No hay valores nulos en ninguna columna (guay)
#pd.isnull(serie2).sum()

In [9]:
#Datos de trade flows desde 1/2000 (los datos de turistas de antes del 2000 no nos interesan)

# B. Trade flows (Balearic)

In [10]:
BI_trade = pd.read_csv ('data/balearic_imports_dirty.csv')

In [11]:
BI_trade.head()

,Unnamed: 0,Time,Polonia,República Checa,Francia,Italia,Bélgica,Dinamarca,Suecia,Irlanda,Países Bajos,Reino Unido,Alemania
0,0,2021_Acumulado,7.865.370,1.731.141,123.007.720,230.446.676,53.882.732,4.191.680,8.585.209,4.747.182,178.607.869,42.775.095,196.025.757
1,1,2021M11,1.026.951,66.902,12.992.763,30.885.089,4.247.049,505.164,723.796,1.018.726,35.186.304,3.161.318,23.733.996
2,2,2021M10,719.417,84.056,7.735.753,6.687.123,5.202.484,454.991,1.167.503,331.710,22.533.426,3.540.810,31.231.364
3,3,2021M09,1.183.774,265.947,7.650.884,8.474.734,7.426.750,641.261,1.410.221,1.066.762,25.881.548,3.876.277,24.229.240
4,4,2021M08,548.923,294.308,7.617.475,25.701.516,7.100.870,348.110,927.643,682.895,14.463.688,3.736.112,13.060.456

In [12]:
################################################
#OJO - función no importada en uso en esta celda
################################################


BI_trade.Time = BI_trade.Time.apply(del_total)
BI_trade.Time = BI_trade.Time.apply(del_years)
BI_trade.drop(BI_trade.index[BI_trade['Time'] == 'tbd'], inplace=True)
BI_trade.Time = BI_trade.Time.apply(del_acumulado)
BI_trade.Time = BI_trade.Time.apply(translate_number)
BI_trade.Time = BI_trade.Time.apply(datematcher)
BI_trade.Time = BI_trade.Time.apply(dateconverter)
BI_trade = BI_trade.drop('Unnamed: 0', axis=1)

In [13]:
BI_trade.sample(7)

,Time,Polonia,República Checa,Francia,Italia,Bélgica,Dinamarca,Suecia,Irlanda,Países Bajos,Reino Unido,Alemania
238,2003-08-07,260.791,85.795,7.189.461,6.251.156,780.902,337.824,1.149.593,104.165,1.966.859,6.444.237,4.125.724
95,2014-08-07,832.985,109.198,19.932.026,30.180.767,2.673.904,382.507,1.331.037,345.538,22.506.010,4.711.310,10.116.716
255,2002-04-07,177.439,77.125,170.073.918,3.790.076,1.026.766,329.160,1.009.313,121.196,1.309.330,5.506.478,12.542.990
201,2006-06-07,1.220.923,217.440,25.283.349,6.935.517,2.634.621,543.964,3.010.032,395.918,1.947.389,8.258.666,7.988.812
115,2013-01-07,458.412,387.084,3.066.095,22.476.385,1.296.497,267.528,310.531,97.617,1.042.953,1.364.511,4.848.154
264,2001-08-07,151.048,64.756,5.853.680,6.593.251,1.369.344,694.566,1.229.450,262.383,1.774.065,9.814.252,4.900.638
176,2008-05-07,1.245.084,165.294,6.091.266,10.968.414,1.470.375,455.156,1.325.714,800.964,2.521.280,2.998.592,14.902.111

# C. Tourists in the Canaries

In [14]:
#countries_exc_ger = ['UK', 'Holanda', 'Irlanda', 'Suecia', 'Dinamarca', 'Bélgica', 'Italia', 'Francia', 'Suiza', 'Chequia', 'Polonia']
#countries_eg_M = ['UK', 'HOLANDA', 'IRLANDA', 'SUECIA','DINAMARCA','BELGICA','ITALIA','FRANCIA','SUIZA','REP.CHECA','POLONIA']

In [23]:
#Countries for which there is detailed data for number of visitors and imports
countries = ['UK', 'HOLANDA', 'IRLANDA', 'SUECIA', 'BELGICA', 'ITALIA', 'FRANCIA', 'REPCHECA', 'POLONIA', 'ALEMANIA', 'SUIZA', 'DINAMARCA']
countries_noger = ['UK', 'HOLANDA', 'IRLANDA', 'SUECIA', 'BELGICA', 'ITALIA', 'FRANCIA', 'REPCHECA', 'POLONIA', 'SUIZA', 'DINAMARCA']

In [16]:
#Definir una función para apendear en una columna nueva a cada df de los definidos 
#abajo el número de turistas desde los dfs de arriba
#puede que para ello tengas que dropear la columna total

Polonia_IC = pd.DataFrame(IC_trade[['Time','Polonia']])
Polonia_IC = Polonia_IC.rename({'Polonia': 'Imports'}, axis=1)
Polonia_IC['Country'] = ['PLN' for v in range (0,240)]

República_Checa_IC = pd.DataFrame(IC_trade[['Time','Chequia']])
República_Checa_IC = República_Checa_IC.rename({'Chequia': 'Imports'}, axis=1)
República_Checa_IC['Country'] = ['CZE' for v in range (0,240)]

Francia_IC = pd.DataFrame(IC_trade[['Time','Francia']])
Francia_IC = Francia_IC.rename({'Francia': 'Imports'}, axis=1)
Francia_IC['Country'] = ['FRA' for v in range (0,240)]

Italia_IC = pd.DataFrame(IC_trade[['Time','Italia']])  
Italia_IC = Italia_IC.rename({'Italia': 'Imports'}, axis=1)
Italia_IC['Country'] = ['ITA' for v in range (0,240)]

Bélgica_IC = pd.DataFrame(IC_trade[['Time','Bélgica']])  
Bélgica_IC = Bélgica_IC.rename({'Bélgica': 'Imports'}, axis=1)
Bélgica_IC['Country'] = ['BEL' for v in range (0,240)]

Suecia_IC = pd.DataFrame(IC_trade[['Time','Suecia']])
Suecia_IC = Suecia_IC.rename({'Suecia': 'Imports'}, axis=1)
Suecia_IC['Country'] = ['SWE' for v in range (0,240)]

Irlanda_IC = pd.DataFrame(IC_trade[['Time','Irlanda']])  
Irlanda_IC = Irlanda_IC.rename({'Irlanda': 'Imports'}, axis=1)
Irlanda_IC['Country'] = ['IRL' for v in range (0,240)]

Países_Bajos_IC = pd.DataFrame(IC_trade[['Time','Países Bajos']]) 
Países_Bajos_IC = Países_Bajos_IC.rename({'Países Bajos': 'Imports'}, axis=1)
Países_Bajos_IC['Country'] = ['NLD' for v in range (0,240)]

Reino_Unido_IC = pd.DataFrame(IC_trade[['Time','Reino Unido']]) 
Reino_Unido_IC = Reino_Unido_IC.rename({'Reino Unido': 'Imports'}, axis=1)
Reino_Unido_IC['Country'] = ['GBR' for v in range (0,240)]

Alemania_IC = pd.DataFrame(IC_trade[['Time','Alemania']])
Alemania_IC = Alemania_IC.rename({'Alemania': 'Imports'}, axis=1)
Alemania_IC['Country'] = ['GER' for v in range (0,240)]

Dinamarca_IC = pd.DataFrame(IC_trade[['Time','Dinamarca']])
Dinamarca_IC = Dinamarca_IC.rename({'Dinamarca': 'Imports'}, axis=1)
Dinamarca_IC['Country'] = ['DEN' for v in range (0,240)]

Suiza_IC = pd.DataFrame(IC_trade[['Time','Suiza']])
Suiza_IC = Suiza_IC.rename({'Suiza': 'Imports'}, axis=1)
Suiza_IC['Country'] = ['SWI' for v in range (0,240)]


with ExcelWriter('data/support_tourist.xlsx') as writer: 
    
    Polonia_IC.to_excel(writer, sheet_name='POLONIA')
    República_Checa_IC.to_excel(writer, sheet_name='REPCHECA')
    Francia_IC.to_excel(writer, sheet_name='FRANCIA')
    Italia_IC.to_excel(writer, sheet_name='ITALIA') 
    Bélgica_IC.to_excel(writer, sheet_name='BELGICA') 
    Suecia_IC.to_excel(writer, sheet_name='SUECIA')
    Irlanda_IC.to_excel(writer, sheet_name='IRLANDA')
    Países_Bajos_IC.to_excel(writer, sheet_name='HOLANDA')
    Reino_Unido_IC.to_excel(writer, sheet_name='UK')
    Alemania_IC.to_excel(writer, sheet_name='ALEMANIA') 
    
    Suiza_IC.to_excel(writer, sheet_name='SUIZA')
    Dinamarca_IC.to_excel(writer, sheet_name='DINAMARCA')

In [17]:
#MACROLOOP FUNCIONAL (COMENTAR EN INGLÉS...)

for c in countries:
    df_A = pd.read_excel('data/TuristasCI_Short.xls', sheet_name= f'{c}')
    df_B = pd.read_excel('data/support_tourist.xlsx', sheet_name= f'{c}')
    df_A.drop(labels='TOTAL', inplace=True, axis=1)
    df_A.rename(columns={"Unnamed: 0":"Year"}, inplace=True)
    df_A = df_A[df_A.Year > 1999]
    df_A = df_A[df_A.Year < 2020]
    
    df_AT = df_A.T   

    df_AT.columns = ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20']
    df_AT = df_AT.reset_index()
    df_AT.drop(labels='index', inplace=True, axis=1)
    df_AT = df_AT.iloc[1: , :]
    
    df_C = df_AT['1']
    
    for i in range(2,21):
        df_D = df_AT[f'{i}']
        df_C = pd.concat([df_C, df_D])
        
    df_C = df_C.to_frame()
    df_C.columns = ['Column_A']
    print(f'Saving {c}...')
    df_C = df_C.reset_index()
    df_B['Tourist'] = df_C['Column_A']
    df_B = df_B.reset_index()
    df_B.rename(columns={"Unnamed: 0":"Delete"}, inplace=True)
    df_B.drop(labels='Delete', inplace=True, axis=1)
    lista_B = df_B['Tourist'].to_list()
    lista_B.reverse()
    df_B['Tourists'] = lista_B
    df_B.drop(labels='Tourist', inplace=True, axis=1)

    with ExcelWriter(f'data/support_tourist_folder/{c}.xlsx') as writer:
        df_B.to_excel(writer, sheet_name= f'{c}')

Saving UK...
Saving HOLANDA...
Saving IRLANDA...
Saving SUECIA...
Saving BELGICA...
Saving ITALIA...
Saving FRANCIA...
Saving REPCHECA...
Saving POLONIA...
Saving ALEMANIA...
Saving SUIZA...
Saving DINAMARCA...

In [27]:
df_X = pd.read_excel('data/support_tourist_folder/ALEMANIA.xlsx')
for c in countries_noger:
    df_Y = pd.read_excel(f'data/support_tourist_folder/{c}.xlsx')
    df_X = pd.concat([df_X, df_Y])

df_X.rename(columns={"Unnamed: 0":"Delete"}, inplace=True)
df_X.drop(labels='Delete', inplace=True, axis=1)
df_X.rename(columns={"index":"Delete"}, inplace=True)
df_X.drop(labels='Delete', inplace=True, axis=1)

display(df_X)

          Time     Imports Country  Tourists
0   2019-12-07  36.917,475     GER    270865
1   2019-11-07  35.035,881     GER    270307
2   2019-10-07  50.706,669     GER    213744
3   2019-09-07  23.587,550     GER    182978
4   2019-08-07  30.583,541     GER    187302
..         ...         ...     ...       ...
235 2000-05-07   3.160,726     DEN      8718
236 2000-04-07   2.636,032     DEN     21934
237 2000-03-07   3.576,811     DEN     32809
238 2000-02-07   2.452,499     DEN     31644
239 2000-01-07   2.327,888     DEN     36373

[2880 rows x 4 columns]

# C. Foreign citizens in the Canaries and the Balearic islands