In [1]:
#!pip install datefinder

In [31]:
import pandas as pd
import numpy as np
import datefinder as dfi

In [23]:
################################################
#FUNCIONES NO IMPORTADAS: PASAR A .PY E IMPORTAR
################################################

def del_p(x):
    ''' This function which takes a string as argument, returns the same string
    that was entered but without (p) in case there are any of these in the original
    string
    '''
    try:
        return x.replace('(p)', '')
    except:
        pass

def del_years(x):
    ''' This function returns a nan if the given argument (must be a string)
    has 4 or less characters. Otherwise  it returns the intact original string.
    The original purpose of this function was to delete cells with year info but 
    no month info.
    '''
    import numpy as np
    if len(x.strip()) < 5:
        return 'tbd'
    else:
        return x
    
def type_el(x):
    '''Returns the type of an element'''
    print(type(x))
    
def del_spaces(x):
    ''' Function to apply the strip method for strings'''
    return x.strip()

def translate_month(x):
    if 'Enero' in x:
        return x.replace('Enero', 'January')
    elif 'Febrero' in x:
        return x.replace('Febrero', 'February')
    elif 'Marzo' in x:
        return x.replace('Marzo', 'March')
    elif 'Abril' in x:
        return x.replace('Abril', 'April')
    elif 'Mayo' in x:
        return x.replace('Mayo', 'May')
    elif 'Junio' in x:
        return x.replace('Junio', 'June')
    elif 'Julio' in x:
        return x.replace('Julio', 'July')
    elif 'Agosto' in x:
        return x.replace('Agosto', 'August')
    elif 'Septiembre' in x:
        return x.replace('Septiembre', 'September')
    elif 'Octubre' in x:
        return x.replace('Octubre', 'October')
    elif 'Noviembre' in x:
        return x.replace('Noviembre', 'November')
    elif 'Diciembre' in x:
        return x.replace('Diciembre', 'December')
    else:
        return x

In [28]:
IC_trade = pd.read_csv ('canary_imports_dirty.csv')

In [25]:
IC_trade.head(25)

,Unnamed: 0,Time,Polonia,Chequia,Suiza,Francia,Italia,Bélgica,Dinamarca,Suecia,Irlanda,Países Bajos,Reino Unido,Alemania
0,0,2021 Noviembre (p),"4.473,862","4.698,110","2.220,403","31.485,825","36.338,226","6.008,680","2.178,621","1.574,086","6.561,863","36.734,327","11.720,918","29.201,971"
1,1,2021 Octubre (p),"3.360,605","9.997,751","1.711,822","7.672,856","12.718,099","4.617,084","2.493,726","1.773,129","3.440,667","29.173,793","6.908,026","25.644,328"
2,2,2021 Septiembre (p),"2.619,986","7.827,948","1.331,296","11.305,727","10.842,908","6.359,599","1.133,544","1.540,708","5.547,320","39.631,925","6.700,103","26.015,663"
3,3,2021 Agosto (p),"2.627,623","3.586,898","1.031,052","7.893,321","13.490,680","11.802,737","1.636,533","1.318,356","5.301,273","16.572,673","4.030,151","39.025,092"
4,4,2021 Julio (p),"2.102,901","10.212,904","1.264,930","7.513,558","16.195,542","10.413,309","1.557,271","1.475,441","4.772,880","18.454,604","3.430,143","35.785,879"
5,5,2021 Junio (p),"3.388,428","10.449,205","1.160,268","9.134,338","14.147,101","13.254,148","1.643,764","2.083,160","4.013,956","16.306,432","5.285,405","34.832,457"
6,6,2021 Mayo (p),"3.363,464","10.226,112","1.643,662","13.386,345","15.175,172","11.772,811","1.771,438","1.355,619","3.692,641","36.470,209","5.585,533","41.705,798"
7,7,2021 Abril (p),"2.886,051","9.442,443","4.361,508","7.358,942","13.072,034","7.182,839","2.343,504","1.608,213","5.059,566","12.633,066","3.989,645","25.069,301"
8,8,2021 Marzo (p),"3.759,953","9.289,201","1.464,496","8.927,103","12.944,139","25.616,531","2.305,670","17.249,702","4.266,997","24.401,167","5.563,745","38.099,255"
9,9,2021 Febrero (p),"2.330,797","9.647,049","1.167,256","5.371,861","11.452,291","4.998,165","1.601,125","789,361","1.739,589","10.629,715","4.634,569","23.511,202"
10,10,2021 Enero (p),"2.352,869","2.578,092","1.186,074","7.635,533","11.734,915","3.907,100","1.464,240","11.958,334","4.112,742","19.476,888","4.493,971","14.891,217"
11,11,2020 (p),"29.621,460","40.571,188","16.675,842","125.182,176","150.036,726","106.900,654","48.919,467","39.778,422","48.225,974","243.275,101","122.529,912","361.502,839"
12,12,2020 Diciembre (p),"2.326,685","5.118,328","928,700","5.914,502","12.642,793","11.331,371","1.849,546","1.404,474","3.022,232","22.910,349","10.111,667","36.304,086"
13,13,2020 Noviembre (p),"2.007,407","3.824,172","1.505,801","25.833,830","12.119,465","4.228,252","2.564,063","864,752","3.096,262","24.851,352","10.546,344","40.860,456"
14,14,2020 Octubre (p),"3.141,589","5.027,125","1.656,308","7.779,114","11.833,467","16.644,204","2.225,937","1.105,407","5.017,227","15.050,720","9.182,259","36.252,994"
15,15,2020 Septiembre (p),"3.511,307","5.020,613","1.036,459","6.120,725","8.788,141","4.321,703","1.939,285","9.237,347","3.164,280","16.707,671","8.392,473","41.647,387"
16,16,2020 Agosto (p),"2.036,948","1.645,395","989,933","7.972,708","11.518,480","3.261,829","1.539,703","729,425","4.663,108","15.540,085","5.661,683","15.618,247"
17,17,2020 Julio (p),"1.817,175","2.295,844","1.704,922","6.998,420","10.812,171","14.031,149","12.415,967","1.815,235","4.481,294","21.247,934","6.879,155","30.146,775"
18,18,2020 Junio (p),"2.530,091","3.672,373","2.049,730","24.339,671","11.054,350","2.915,405","1.263,185","2.133,877","4.022,711","24.253,910","5.429,583","23.163,480"
19,19,2020 Mayo (p),"1.344,516","680,464","1.010,110","4.388,414","5.899,128","2.931,831","1.206,461","1.631,513","2.338,360","14.083,853","4.640,117","15.668,983"
20,20,2020 Abril (p),"2.476,995","1.109,089","1.855,760","6.441,279","7.578,125","3.491,005","1.734,001","2.391,756","4.423,987","13.254,588","4.987,969","14.421,580"
21,21,2020 Marzo (p),"2.790,733","3.720,369","1.494,654","8.311,788","11.665,257","6.225,606","2.260,795","2.736,443","5.619,713","22.013,969","16.728,541","37.710,172"
22,22,2020 Febrero (p),"3.493,573","4.364,317","1.495,462","8.938,239","16.434,612","6.689,094","1.735,533","2.640,253","4.279,918","15.885,183","10.634,939","40.830,598"
23,23,2020 Enero (p),"2.144,440","4.093,099","948,004","12.143,485","29.690,738","30.829,205","18.184,990","13.087,937","4.096,881","37.475,487","29.335,181","28.878,082"
24,24,2019,"43.338,717","49.324,241","22.513,325","267.394,799","236.307,858","101.192,912","93.214,096","91.024,361","56.713,010","423.757,750","154.358,039","437.822,534"

In [26]:
#Displaying unique values of the Time column in order to clean it

#IC_trade['Time'].unique()

In [29]:
################################################
#OJO - función no importada en uso en esta celda
################################################

IC_trade.Time = IC_trade.Time.apply(del_years)
IC_trade.Time = IC_trade.Time.apply(del_p)
IC_trade.Time = IC_trade.Time.apply(del_years)
IC_trade.Time = IC_trade.Time.apply(del_spaces)
IC_trade.Time = IC_trade.Time.apply(translate_month)
print(IC_trade['Time'].unique())

['2021 November' '2021 October' '2021 September' '2021 August' '2021 July'
 '2021 June' '2021 May' '2021 April' '2021 March' '2021 February'
 '2021 January' 'tbd' '2020 December' '2020 November' '2020 October'
 '2020 September' '2020 August' '2020 July' '2020 June' '2020 May'
 '2020 April' '2020 March' '2020 February' '2020 January' '2019 December'
 '2019 November' '2019 October' '2019 September' '2019 August' '2019 July'
 '2019 June' '2019 May' '2019 April' '2019 March' '2019 February'
 '2019 January' '2018 December' '2018 November' '2018 October'
 '2018 September' '2018 August' '2018 July' '2018 June' '2018 May'
 '2018 April' '2018 March' '2018 February' '2018 January' '2017 December'
 '2017 November' '2017 October' '2017 September' '2017 August' '2017 July'
 '2017 June' '2017 May' '2017 April' '2017 March' '2017 February'
 '2017 January' '2016 December' '2016 November' '2016 October'
 '2016 September' '2016 August' '2016 July' '2016 June' '2016 May'
 '2016 April' '2016 March' '2016 February' '2016 January' '2015 December'
 '2015 November' '2015 October' '2015 September' '2015 August' '2015 July'
 '2015 June' '2015 May' '2015 April' '2015 March' '2015 February'
 '2015 January' '2014 December' '2014 November' '2014 October'
 '2014 September' '2014 August' '2014 July' '2014 June' '2014 May'
 '2014 April' '2014 March' '2014 February' '2014 January' '2013 December'
 '2013 November' '2013 October' '2013 September' '2013 August' '2013 July'
 '2013 June' '2013 May' '2013 April' '2013 March' '2013 February'
 '2013 January' '2012 December' '2012 November' '2012 October'
 '2012 September' '2012 August' '2012 July' '2012 June' '2012 May'
 '2012 April' '2012 March' '2012 February' '2012 January' '2011 December'
 '2011 November' '2011 October' '2011 September' '2011 August' '2011 July'
 '2011 June' '2011 May' '2011 April' '2011 March' '2011 February'
 '2011 January' '2010 December' '2010 November' '2010 October'
 '2010 September' '2010 August' '2010 July' '2010 June' '2010 May'
 '2010 April' '2010 March' '2010 February' '2010 January' '2009 December'
 '2009 November' '2009 October' '2009 September' '2009 August' '2009 July'
 '2009 June' '2009 May' '2009 April' '2009 March' '2009 February'
 '2009 January' '2008 December' '2008 November' '2008 October'
 '2008 September' '2008 August' '2008 July' '2008 June' '2008 May'
 '2008 April' '2008 March' '2008 February' '2008 January' '2007 December'
 '2007 November' '2007 October' '2007 September' '2007 August' '2007 July'
 '2007 June' '2007 May' '2007 April' '2007 March' '2007 February'
 '2007 January' '2006 December' '2006 November' '2006 October'
 '2006 September' '2006 August' '2006 July' '2006 June' '2006 May'
 '2006 April' '2006 March' '2006 February' '2006 January' '2005 December'
 '2005 November' '2005 October' '2005 September' '2005 August' '2005 July'
 '2005 June' '2005 May' '2005 April' '2005 March' '2005 February'
 '2005 January' '2004 December' '2004 November' '2004 October'
 '2004 September' '2004 August' '2004 July' '2004 June' '2004 May'
 '2004 April' '2004 March' '2004 February' '2004 January' '2003 December'
 '2003 November' '2003 October' '2003 September' '2003 August' '2003 July'
 '2003 June' '2003 May' '2003 April' '2003 March' '2003 February'
 '2003 January' '2002 December' '2002 November' '2002 October'
 '2002 September' '2002 August' '2002 July' '2002 June' '2002 May'
 '2002 April' '2002 March' '2002 February' '2002 January' '2001 December'
 '2001 November' '2001 October' '2001 September' '2001 August' '2001 July'
 '2001 June' '2001 May' '2001 April' '2001 March' '2001 February'
 '2001 January' '2000 December' '2000 November' '2000 October'
 '2000 September' '2000 August' '2000 July' '2000 June' '2000 May'
 '2000 April' '2000 March' '2000 February' '2000 January']

In [21]:
################################################
#OJO - función no importada en uso en esta celda
################################################

In [37]:
matches = dfi.find_dates('2001 January')

In [38]:
for match in matches:
    print(match)

2001-01-05 00:00:00

# A. Trade flows (Canary)

# B. Trade flows (Balearic)

# C. Foreign citizens in the Canaries and the Balearic islands